<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>
    <add name="conn" connectionString="
         SERVER= den1.mysql6.gear.host; 
         DATABASE= school6; 
         UID= school6; 
         PASSWORD= Proftaak12!; 
         SslMode= none" 
         providerName="MySql.Data.MySqlClient " />
   </connectionStrings>
</configuration>